.App {
  display: grid;
  grid-template-columns: 1fr 500px;
}

.header_button {
  height: 40px;
}

.App_left {
  grid-column: 1 / 2;
}

.App_right {
  grid-column: 2 / 3;
}

.fileviewer_area {
  overflow: auto;
  max-height: calc(100vh - 40px);
}

.cat_pattern_input {
  width: 450px;
}

.file_header {
  text-align: start;
  line-height: 30px;
  border: solid 1px darkgray;
  margin-top: -1px;
}

.file_children_area {
  margin-left: 50px;
}

.phantom_button {
  display: none;
}